services:
  _defaults:
    autowire: true

  BrandOriented\Encryption\Subscriber\DoctrineEncryptionSubscriber:
    arguments:
      - '@annotation_reader'
      - '@BrandOriented\Encryption\Bridge\Bridge'
    tags:
      - { name: doctrine.event_subscriber }

  BrandOriented\Encryption\Bridge\Bridge:
    public: true
    arguments:
      - '@matt9mg_doctrine_encryption.encryptor'

  BrandOriented\Encryption\Twig\EncryptionExtension:
    arguments:
      - '@BrandOriented\Encryption\Bridge\Bridge'
    tags:
      - { name: twig.extension }
